<header class="container-fluid header">

    <ul class="nav logo">
        <div class="col-md-2">
            <a class="nav-name" routerLink="/">
                <img class="img-resized" src="assets/images/itau-bba.png" alt="Logo Itau BBA" title="Logo Itau BBA"/>
            </a>
        </div>
        <div class="col-md-10 menu">
            <li class="nav-item">
               <a class="nav-link" href="#"><strong>Ajuda</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><strong>Como Funciona</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><strong>Contato</strong></a>
            </li>
            <li>
                <a class="nav-link btn-login" style="margin-right: 10px; margin-left: 15px;">Login</a>
            </li>
            <li>
                <a class="nav-link btn-register">Cadastre-se</a>
            </li>
        </div>
    </ul>
</header>
