.form{
    padding: 20px;
}

.form-title h4{
   color: grey;
   font-size: 20px;
}

.request-title h4{
    color: grey;
    font-size: 20px;
    margin-top: 2px;
 }
 
.request-title h2{
    padding-top: 2px;
}

.btn{
    background-color: #ff6b00;
    color: white;
    margin-top: 30px;
    margin-left: 90px;
    justify-content: right;
    text-align: right;
}

.btn:hover{
    background-color: aliceblue;
    color: #ff6b00;
}

input.ng-invalid{
    border: 1px solid rgb(185, 133, 66);
}

input.ng-valid{
    border: 1px solid rgb(9, 236, 20);
}

.error{
    color: red;
}